body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px;
    background-color: azure;
}

.toggler b {
    margin-right: 5px;
}

.toggler__item {
    padding: 5px 20px;
    box-sizing: border-box;
    background-color: #4CAF50;
    border: none;
    text-align: center;
    margin-right: 5px;
    border-width: 3px;
}

.toggler__item.active {
    background-color: #ffcc00;
}

.form {
    display: flex;
    flex-direction: column;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 400px;
    background-color: #ffcc00;
}


/* button {
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
} */

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.chartjs-render-monitor {
    width: 400px;
    height: 400px;
}

.listContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ol {
    text-align: left;
}